---
hide:
  - navigation
---

# 诺丁汉大学计算机系飞跃手册 <br> <small>Shaping the Future</small>

## 手册导览 Site Map

<div class="grid cards" markdown>

-   :material-file-document-multiple-outline: __申请案例__

    ---

    查看往年 {{ students_by_term | length }} 届共 {{ students | length }} 位申请人的个人背景、申请结果、最终去向及经验分享。

    [Applicants:octicons-chevron-right-24:](./applicants/index.md)

-   :material-earth: __申请项目__

    ---

    查看全球 {{ universities | length }} 所高校共 {{ programs | length }} 个硕士、博士研究生项目的历年申请结果汇总。

    [Programs:octicons-chevron-right-24:](./programs/index.md)

-   :material-database: __数据库__

    ---

    想要进一步总结分析历届学长学姐的申研信息，欢迎访问本手册的原始数据库 <a href="https://cloud.seatable.io/dtable/external-links/custom/UNNC-feiyue/" target="_blank">SeaTable:octicons-arrow-up-right-24:</a> 进行浏览或筛选。

-   :material-scale-balance: __版权声明__

    ---

    未经飞跃手册项目组允许，任何组织或个人不得以任何形式、通过任何渠道编辑、修改、复制和发行本手册的全部或部分内容。严禁将本手册用于商业用途。

</div>

!!! info "免责声明"

    - 本手册内容由计算机系学生提供，经本项目组收集。手册内所涉及的所有申研观点仅代表其提出者的个人观点，并不代表本项目组的立场，更不代表学校、院系或任何政治立场。请各位读者带着批判性思维阅读此手册。
    - 为了最大限度保证隐私，本项目组允许内容提供者在部分内容上进行模糊化处理，并有选择性的提供相关信息。然而，本项目组不能完全保证所有个人信息的安全，使其免于任何人出于商业或其它目的的利用。

## 致谢 Acknowledgements

本手册网页及数据库设计参考了 <a href="https://github.com/THU-feiyue" target="_blank">清华大学飞跃手册及数据库:octicons-arrow-up-right-24:</a> 和 <a href="https://opencs.app" target="_blank">Open CS Application:octicons-arrow-up-right-24:</a> 网站。

!!! tip "特别鸣谢"

    历届飞跃手册项目组成员：

    - 飞跃手册 2025 项目组成员：苏郭晟，张誉瀚
    - 飞跃手册 2024 项目组成员：谢岳宁，刘骏涵，颜语辰
    - 飞跃手册 2023 项目组成员：胡乐阳，胡子翔
    - 飞跃手册 2022 项目组成员：吴尚伦，吴可嘉，李旻昊
    - 飞跃手册 2021 项目组成员：冯品源，张宇，何子健，陈崇晗

    及为《诺丁汉大学计算机系飞跃手册》提供素材的全体同学。
