site_name: 宁波诺丁汉大学飞跃手册
site_url: https://unnc-feiyue.github.io/docs-cs/
site_author: UNNC Feiyue Team
copyright: 'Copyright &copy; 2025{% if current_year > 2025 %}-{{ current_year }}{% endif %} UNNC Feiyue Team. All rights reserved.'

repo_name: UNNC-feiyue/docs-cs
repo_url: https://github.com/UNNC-feiyue/docs-cs/

theme:
  name: material
  custom_dir: overrides
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - announce.dismiss
    - search.highlight
    - search.share
    - toc.follow
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.path
    - navigation.sections
    - navigation.tracking
    - navigation.tabs
    - navigation.top
  font:
    text: 'Fira Sans'
    code: 'Fira Mono'
  icon:
    repo: fontawesome/brands/github

extra_css:
- stylesheets/extra.css

plugins:
  - search:
      lang:
        - en
        - zh
      separator: '[\s\u200b\-,:!=\[\]()"`/@]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      toc_depth: 2
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - Home:
    - index.md
  - Prefaces:
    - From Feiyue Team 2025: prefaces/preface-2025.md
  - Applicants:
    - applicants/index.md
    - Term:
{%- for term, students in students_by_term.items() %}
      - {{ term }}:
{%- for student in students %}
        - {{ student.name }} <small>/ {{ student.program_choice[0].display_value }}</small>: applicants/{{ student.s_id }}.md
{%- endfor %}
{%- endfor %}
  - Programs:
    - programs/index.md
{%- for region, universities in universities_by_region.items() %}
    - {{ region }}:
{%- for university in universities %}
      - {{ university.abbrv }}:
{%- for program in university.programs %}
{%- set program = programs[program.row_id] %}
        - {{ program.abbrv }}: programs/{{ program.p_id }}.md
{%- endfor %}
{%- endfor %}
{%- endfor %}
  - Download:
    - download.md
