# 项目列表
{% for region, unis in uni_by_region.items() %}

## {{ region }}

{% for uni in unis %}
### {{ uni.name }}
{% for prog in uni.programs %}
{% set p = programs[prog.row_id] %}
- [{{ p.abbrv }}](./{{ p.p_id }}.md) - `{{ p.level }}` {{ p.name }}
{% endfor %}
{% endfor %}
{%- endfor %}